@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}
header{
  float: left;
  width: 100%;
  background-color: white;   
}
.menu{
  width: 100%;
  height: auto;
  background-color: crimson;
  margin-top: 60px;
}
.menu li{
display: inline-block;
padding: 10px;
margin-left:80px; 
}
.menu a{
  color: white;
  text-decoration: none;
  
}
.menu a:hover{
  color:black;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;

}
.logo{
  float: left;
  margin-right: 2%;
  width: 10%;
  
}
.submit img{
  position: absolute;
  left: 60.5%;
  top:30px;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
}
input {
  width: 30%;
  height: 25px;
  position: absolute;
  left: 30%;
  top: 27px;

}
.carrito{
  position: absolute;
  right: 3%;
  top: 4%;
  
}
.ImagenSlider{
  width: 100%;
}
.pasos{
  width: 30%;
  float: left;
  margin: 10px 1.5%;
  margin-bottom: 20px;
  margin-top: 20px;
}
 .pasos .number {
  color:crimson;
    border: 2px solid crimson;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px; 

    
}
article .pasos{
  height:200px;
  justify-content: space-between;
  
}
article.pasos h4 {
  color: #5b5b5b;
  font-size: 19px;
  font-style: normal;
  font-weight: 100;
  text-align:center; 
}
h3{
  text-align: center;
  text-decoration:none;
  font-size: 30px; 
}
.container{
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  
}
.partidos{
  display: flexbox;
  flex-flow: column;
  columns: 3;
  margin-top: 10px;  
}

.columna{
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px;
  padding-top: 15px;
  border: 1px solid crimson;
  -webkit-box-shadow: -5px 10px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 10px 10px -5px rgba(0,0,0,0.75);
  box-shadow: -5px 10px 10px -5px rgba(0,0,0,0.75);
  

}
article img{
  width: 100%; 
}
.datoPartido {
  text-align: right;
  margin-right: 20px;
  font-size: 18px;
  margin-top: -80px;
}
.detalle{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 15px;
}
 .mes{
  font-size: 40px;
  margin-left: 30px;
  margin-top: 10px;
}
.dia{
  font-size: 35px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.botonCarrito img{
width: 120px;
height: auto;
float:right;
margin-right: 20px;
margin-top: -20px;
}
button .botonCarrito{
  border-radius: 100%;
}
.datoPartido ,.detalle ,.botonCarrito img{
  align-items: flex-start;
}
.dia , .mes{
  justify-content: flex-start;
}
.tarjeta{
  margin: 0 auto;
  width: 90%;
  margin-top: 1%;
  
  
}
.mediosPago{
  display: flexbox;
  flex-flow: column;
  columns: 4;
  position: absolute;
  left: 9%;

    
}
.medios{
  padding: 10px;
  padding-top: 15px;
  border: 2px solid gray;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  
  
}
.visa{
margin-top: 30px;
}
.scroll {
  position:fixed;
  bottom: 10px;
  right: 10px;
  
}
.scroll img{
  width: 40px;
  height: 40px;
}

footer{
  background-color: crimson;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  
}
.datos{
width: 100%;
height: auto;
margin: 0 auto;
}

.footer{
  display: flexbox;
  flex-flow: column;
  columns: 3;
}
.footer1{
width:30%;
margin: 5%;
}
.menuInferior{
  text-align: center;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  color: white;
}
.menuInferior a:hover{
padding: 5px;
background-color: white;
color: black;

}

